.side-widget h4 span.sh-text, .sidebar-box h4 span.sh-text{
	background-color: #33CCFF; /*shouold be changable*/
	color: #fff;
	line-height: 31px;
	text-transform: uppercase;
	padding: 0 12px;
	font-family: 'Poppins';
    font-weight: 400;
	font-size: 14px;
	position: relative;
    z-index: 1;
	display: inline-block;
}
.side-widget h4, .sidebar-box h4.widget-title{
	margin-bottom: 23px;
	font-size: 16px;
    line-height: 20px;
    position: relative;
	border-top: 3px solid #33CCFF;
}
.side-widget h4 span.sh-text span.sh-text, .sidebar-box h4 span.sh-text span.sh-text{padding: 0;}