.default-widget h4 span.sh-text, .side-widget h4 span.sh-text, .sidebar-box h4 span.sh-text, .pionusnews_instagram h4 span.sh-text, .pionusnews_social_counter h4 span.sh-text{
	background-color: #444; /*shouold be changable*/
	color: #fff;
	line-height: 31px;
	text-transform: uppercase;
	padding: 0 20px 0 12px;
	font-family: 'Poppins';
    font-weight: 400;
	font-size: 14px;
	position: relative;
    z-index: 1;
	display: inline-block;
}
.default-widget h4, .side-widget h4, .sidebar-box h4.widget-title, .pionusnews_instagram h4, .pionusnews_social_counter h4{
	margin-bottom: 23px;
	font-size: 16px;
    line-height: 20px;
    position: relative;
}
h4 span.sh-text:after, h4 span.sh-text:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-top: 16px solid transparent;
    border-right: 16px solid #fff;
    border-bottom: 16px solid transparent;
}
.sh-text a.rsswidget {
    color: #fff;
}
.sh-text a.rsswidget:hover {
    color: #F26262;
}
.default-widget h4 span.sh-text span.sh-text, .side-widget h4 span.sh-text span.sh-text, .sidebar-box h4 span.sh-text span.sh-text,
.pionusnews_instagram h4 span.sh-text span.sh-text, .pionusnews_social_counter h4 span.sh-text span.sh-text{padding: 0;}
.default-widget h4 span.sh-text span.sh-text:after, .side-widget h4 span.sh-text span.sh-text:after, .sidebar-box h4 span.sh-text span.sh-text:after,
.pionusnews_instagram h4 span.sh-text span.sh-text:after{display: none;}